# Python
__pycache__/

# Virtual Environment
.venv
env/
venv/

# IDE
.idea/
.vscode/
.DS_Store
.DS_Store?

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Environment files
.env
!.env.example

# Security
security/
setup_security.sh
.secrets.baseline 

# Other
Data/
.github/
[dD]ocker*
*.md
!README.md
*.ipynb
tests/
drafts/
*.pdf
*.zip